<% content_for :head do %>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css" rel="stylesheet" />
<style>
  a.mapboxgl-ctrl-logo, div.mapboxgl-ctrl-attrib { display: none; }
</style>
<% end %>

<div id="map" style="position:absolute;top:0;left:0;bottom:0;right:0"></div>
<script src="map.js"></script>
