<!DOCTYPE html>
<html>
<head>
  <meta charSet="utf-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width">
  <title>Where is Sam</title>
  <%= yield_content :head %>
</head>
<body>
  <%= yield %>
</body>
</html>
