<!DOCTYPE html>
<html>
<head>
  <title>Where is Sam</title>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css" rel="stylesheet" />
  <style>
    a.mapboxgl-ctrl-logo, div.mapboxgl-ctrl-attrib { display: none; }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
